.overlay-container {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
}

.overlay-container::backdrop {
  background-color: var(--pico-scrim-color, rgba(24, 26, 27, 0.65));
  backdrop-filter: blur(4px);
}

.overlay-content {
  padding: 2rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.overlay-content > span {
  font-size: 1.1rem;
}
