/*

White: FFFFFF
Silver: C5C6C9
Jordy Blue: 87BAF8
Gunmental: 1E2735

*/

#root > .container-grid > header,
#root > .container-grid > main,
#root > .container-grid > footer,
#root > .container-grid > aside {
  padding-block: var(--pico-block-spacing-vertical);
}

.container-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'aside    main'
    'footer footer';
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 2rem;
}

hr {
  border-top: 2px solid var(--pico-primary);
}

section {
  padding: 0.5rem 1rem;
  border: 2px solid var(--pico-muted-border-color);
}

section .advanced {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

section .advanced div {
  flex: 1;
}

form button[type='submit'] {
  width: 40%;
  display: block;
}

form label,
form legend,
section label {
  font-weight: 500;
}

.upload-schema-group {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.slider-container input[type='range'] {
  flex-grow: 1;
  width: 100%; /* Ensure it takes up the flexible space */
}

.datapreview form {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.preview-selector-group {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.preview-selector-group select {
  margin-bottom: 0;
}

/* Talk with your data */
.question-group {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.question-group textarea {
  margin-bottom: 5px;
}

.question-group button {
  margin-bottom: 0px;
}

.history {
  display: flex;
  flex-direction: column;
}

.history code {
  display: block;
}

/* Utilities */

.block {
  display: block;
  width: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1_5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1_5 {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
