<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Assistant</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Google Font    -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Styles-->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/milligram.refactored.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav aria-label="Main Features">
      <header><h4>Data Assistant</h4></header>
      <ul>
        <li><a href="#data-generation">Data Generation</a></li>
        <li><a href="#talk-to-data">Talk to your data</a></li>
      </ul>
    </nav>
    <main>
      <div class="container">
        <section class="form-panel">
          <select
            name="conversation"
            id="conversation"
            class="conversation-selector"
          >
            <option value="conversation1">Conversation 1</option>
            <option value="conversation2">Conversation 2</option>
            <option value="conversation3">Conversation 3</option>
            <option value="conversation3">Conversation 5</option>
          </select>
        </section>

        <!-- conversation history -->
        <section class="row">
          <!-- conversation item -->
          <div class="form-panel">
            <!-- prompt -->
            <input
              type="text"
              name="prompt"
              id="prompt"
              class="prompt"
              value="What are the top selling dishes by week over the last 3 months"
            />
            <!-- respuesta -->
            <div class="answer">
              <textarea name="answer-sql" id="answer-sql" class="answer-sql">
select * from tabla_prueba
                </textarea
              >

              <table name="answer-table" id="answer-table" class="answer-table">
                <thead>
                  <tr>
                    <th>Week</th>
                    <th>Dish</th>
                    <th>Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2025-W18</td>
                    <td>Classic Burger</td>
                    <td>$3,245</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>Course: Prompt Engineering & AI Applications</footer>
  </body>
</html>
